@charset "UTF-8";
/* Reddit Reader Styles
* ------ Common
*/

html {
	position: relative;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
	padding: 10px;
}

.Wrapper {
	max-width: 700px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.WatchedContainer {
  padding: 1px 5px 10px 15px;
  border: 1px solid;
  width:50%;

}

.post-container {
	padding: 5px 5px 5px 5px;
  border: 1px solid;
}

.Input {
	width: 500px;
	margin: 10px;
}

.InputContainer {
	width: 30%;
	vertical-align: top;
	margin-top: -23px;
	/* border: 1px solid; */
	/* padding: 1px 5px 10px 15px; */
	/* float: right; */
}

.TopContainer {
	padding-bottom: 5px;
}

#text {
	border-width: thin;
	border-color: blue;
}

button {
	margin:  10px 10px 0 0;
}

.InputButtons{
	width: 30%;
	/* padding: 50px; */
	/* float: right; */
}

#heading {
	background: #CEE3F8;
	border: 1px solid;
	height: 50px;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 40px;
}
